.header {
  padding: 3vh 3vw;
}

.content {
  padding: 0 20vw;
}

.kegDiv {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 40vh;
    padding: 20px;
}

#selectMenu {
  width: 20vw;
  display: block;
  padding: 40px 0;
}

fieldset {
  width: 25vw;
}

button {
  border-color: #76A915 !important;
  color: #76A915 !important;
}

button.delete {
  color: white !important;
  background-color: #76A915;
}
